<h4>Progress Updates</h4>
<%= link_to "Add Milestone", new_proposal_progress_update_path(@proposal), class: "btn btn-primary mb-3" if user_can_modify_proposal?(@proposal) %>

<ul class="list-group">
  <% @progress_updates.each do |update| %>
    <li class="list-group-item">
      <strong><%= update.title %></strong>
      <small class="text-muted float-end"><%= update.created_at.strftime("%d %b %Y") %></small>
      <p><%= update.description %></p>
      <span>Status: <%= update.status %> | Done: <%= update.percent_done %>%</span>

      <% if update.evidences.attached? %>
        <div class="mt-2">
          <strong>Attachments:</strong>
          <ul>
            <% update.evidences.each do |file| %>
              <li>
                <% if file.image? %>
                  <%= image_tag file.variant(resize_to_limit: [200, 200]), class: "img-thumbnail" %>
                <% end %>
                <%= link_to file.filename.to_s, url_for(file), target: "_blank" %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
