<%= render 'shared/error_messages', object: @proposal_update %>
<h4>New Progress Update</h4>
<%= form_with model: [@proposal, @progress_update], local: true, multipart: true do |f| %>
  <div class="mb-2">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= f.label :status %>
    <%= f.select :status, ["On Track", "Delayed", "Completed"], {}, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= f.label :evidences, "Upload Evidence (Photos, PDFs, etc.)" %>
    <%= f.file_field :evidences, multiple: true, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= f.label :percent_done %>
    <%= f.number_field :percent_done, class: "form-control", min: 0, max: 100 %>
  </div>

  <%= f.submit "Save", class: "btn btn-success" %>
<% end %>
